<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KB Shopping List</title>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/public/client.js"></script>
    <link rel="stylesheet" href="/public/style.css" type="text/css">
</head>
<body>
    <div class="container">
        <header>
          <h1>A Shopping List</h1>
        </header>
        
        <!--   Key Section of App    -->
        <form class="list-content">
          
          <label>
            <input type="text" class="item-input">
          </label>
          
          <ul class="shopping-list">
            <!-- <li>Sample Item</li> -->
          </ul>
          
          <button class="add-item">Add Item</button>
        
        </form>
             
      </div>
    
</body>
</html>